<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youtubetimer">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_youtube_timer_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_youtube_timer_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.YouTubeTimer">


        <activity android:windowSoftInputMode="adjustPan" android:name=".SearchPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".VideoPage"
            android:theme="@style/Theme.YouTubeTimer.noTitle"
            android:configChanges="screenSize|orientation"> <!--needed to handle fullscreen player-->
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TimerMenu">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Preferences">
            <intent-filter>
                <action android:name="android.intent.action.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>